.selection_card {
    height: 100%;
    background-color: var(--white);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.7);
}
  
.selection_card img {
    width: 100%;
    max-height: 40%;
}

.selection_card_content {
    padding: 1rem;
}

.selection_card_content button {
    margin-top: 5px;
    font-size: 30px;
    width: 20%;
}

.admin_btn {
    padding: 0.5rem 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.3s;
}
  
.admin_btn:hover {
    background-color: var(--secondary-color);
}

.admin_list_content {
    overflow-y: auto;
    text-align: center;
    /* border: 2px solid red; */
}

.admin_list_content h1 {
    margin-bottom: 1rem;
    font-size: 4.5rem;
    font-weight: 800;
    color: var(--white);
}
  
.admin_list_content h1 span {
    -webkit-text-stroke: 2px var(--white);
    -webkit-text-fill-color: transparent;
}
  
.admin_list_content p {
    max-width: 750px;
    margin-bottom: 2rem;
    line-height: 1.5rem;
    color: var(--white);
    /* border: 2px solid red; */
    margin: 5px auto;
}
  
.admin_list_content .btn {
    /* padding: 0.75rem 2rem; */
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--white);
    background-color: var(--secondary-color);
    cursor: pointer;
    display: block; /* 确保按钮是块级元素 */
    margin: 5px auto; /* 自动左右边距 */
}

.admin_list_content table {
    text-align: center;
    /* border: 2px solid red; */
    margin: 0 2%;
    padding: 5px;
    width: 95%;
}

.admin_list_content th {  
    font-size: 1.5rem; 
} 

.admin_list_content th, td {  
    border: 1px solid black;  
    border-collapse: collapse;  
}  

.detail_bg {
    /* border: 2px solid blue; */
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    /* text-align: left; */
    margin: 0 auto;
    /* border: 2px solid red; */
}

.detail_bg label {
    font-size: 2rem;
    font-weight: bold;
}

.detail_bg select {
    width: 30%;
    font-size: 25px;
}

.detail_bg input {
    width: 30%;
    font-size: 25px;
}
.detail_bg td {
    font-size: 20px;
    color: #050505;
}

.detail_bg button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.detail_bg button:hover {
    background-color: var(--secondary-color);
}

.filter-buttons button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.filter-buttons button:hover {
    background-color: var(--secondary-color);
}

.pagination {
    font-size: 1.55rem;
    padding: 10px;
}

.request_label {
    margin-top: 20px;
    /* border: 2px solid red; */
}

/* .detail_bg {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */
/* 
.form-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-section label {
    margin-bottom: 8px;
    font-weight: bold;
}

.form-section input,
.form-section textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.custom-file-upload {
    display: inline-block;
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
}

.hidden-input {
    display: none;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-header button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.form-header button:hover {
    background-color: #0056b3;
}

.form-header a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.form-header a:hover {
    text-decoration: underline;
} */
