<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/homeStyles.css" />
    <link rel="stylesheet" href="../static/teacher.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Web Design Mastery | Explore Destinations</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <div class="nav__logo">
          <img src="../static/uic.jpg" alt="logo" />
        </div>

        <!-- 导航栏 -->
        <ul class="nav__links">
          <li class="link"><a href="{{ url_for('teacher.teacherhome',email=email) }}">Home</a></li>
          <li class="link"><a href="{{url_for('teacher.teacherSelection')}}">Search By</a></li>
          <li class="link"><a href="/make_request?email={{ email }}">Make Request</a></li>
          <li class="link"><a href="/CheckRequest?email={{ email }}">My Request</a></li>
          <li class="link"><a href="{{ url_for('request.index') }}">Log out</a></li>
        </ul>

        <!-- 搜索框 -->
        <div class="search search_box">
          <form id="search_form" action="/search" method="POST">
            <input type="text" name="a" id="a" placeholder="Search">
            <div id="b" name="b" onclick="submitSearch()"></div>
          </form>
          <div class="b_results"id="b_results"></div>
        </div>

        <!-- 头像和下拉框                           下拉框有问题-->
        <div class="login">
          <span><i class="ri-user-3-fill"></i></span>
          {{ name }}
          <div class="dropdown-icon">▼</div>
          <div class="dropdown-menu">
            <ul>
                <li>Email: {{ email }}</li>
                <li><a href="/CheckRequest?email={{ email }}">My Request</a></li>
                <li><a href="{{ url_for('request.index') }}">Log out</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="destination__container">
        <img class="bg__img__1" src="../static/bg-dots.png" alt="bg" />
        <img class="bg__img__2" src="../static/bg-arrow.png" alt="bg" />
        <div class="socials">
          <span><i class="ri-twitter-fill"></i></span>
          <span><i class="ri-facebook-fill"></i></span>
          <span><i class="ri-instagram-line"></i></span>
          <span><i class="ri-youtube-fill"></i></span>
        </div>
        <div class="content">
          <h1>WELCOME<br />TEACHER<br /><span>{{name}}</span></h1>
          <p>
            On the road of education, teachers are the guides and examples of students. Adhere to the mission of teaching and educating people, and adhere to contributing to the growth of students. Every student is a shining seed that needs patient watering and care. Let us have hope, education, so that the spark of knowledge ignited students' dreams; Let's stick to our original intention, spread positive energy, and lead students to a bright future. Education is a kind of dedication, but also a commitment, let us go hand in hand, let each student's smile become the most beautiful landscape.
          </p>
        </div>

        <!-- 展示页 -->
        <div class="destination__grid">
          <div class="destination__card">
            <img src="../static/destination-1.jpg" alt="destination" />
            <div class="card__content">
              <h4>You can search for questions</h4>
              <p>
                Click "Search By" and search for assignment questions by course name, course category, or LLM score range.
              </p>
              <button class="btn"><a class="href-btn" href="{{url_for('teacher.teacherSelection')}}">Search By</a></button>
            </div>
          </div>
          <div class="destination__card">
            <img src="../static/destination-2.jpg" alt="destination" />
            <div class="card__content">
              <h4>Want to change or update?</h4>
              <p>
                Click "Make Request" to make requests.
              </p>
              <button class="btn"><a class="href-btn" href="/make_request?email={{ email }}">Make Request</a></button>
            </div>
          </div>
          <div class="destination__card">
            <img src="../static/destination-3.jpg" alt="destination" />
            <div class="card__content">
                <h4>Check your requests' status</h4>
                <p>
                  Click to view details about your requests.
                </p>
              <button class="btn"><a class="href-btn" href="/CheckRequest?email={{ email }}">My Request</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="../static/navigation.js"></script> 
    <script>
      // 以下是全体框架
      var icon = document.querySelector('.dropdown-icon');
      var menu = document.querySelector('.dropdown-menu');
  
      var assignments_list = {{ assignments_list|tojson|safe }}; // 将后端传来的问题列表转换为 JavaScript 对象
      var course_names = {{ course_names|tojson|safe }};
      icon.addEventListener('click', function() {
          if (menu.style.display === 'block') {
              menu.style.display = 'none';
          } else {
              menu.style.display = 'block';
          }
      });
  
      //<!-- 全局搜索 -->
      $(document).ready(function(){
          $('#a').on('input', function(){
              var searchTerm = $(this).val();
              updateList(searchTerm);
          });
  
          $('.search_box').mouseenter(function() {
              $('.a').css('width', '300px');
              $('#b_results').show();
          }).mouseleave(function() {
              var searchTerm = $('#a').val();
              if (searchTerm.trim() === '') {
                  $('.a').css('width', '0');
                  $('#b_results').hide();
              }
              else{
                  $('.a').css('width', '300px');
                  $('#b_results').show();
              }
          });
      });
      function updateList(searchTerm) {
          $('#b_results').empty();
          $('#b_results').append('<ul>');
          $('#b_results ul').css('list-style-type', 'none');
          var count = 0; // 计数器，用于限制显示数量
          if (searchTerm.trim() !== '') { // 检查搜索框中是否有内容
              $('.a').css('width', '300px'); // 如果有内容，设置搜索框宽度为300px
          } 
          $.each(course_names, function(index, course_name){
              if (course_name.course_name.toLowerCase().includes(searchTerm.toLowerCase())){
                  if (count < 5) { // 这里显示10个内容
                      $('#b_results ul').append('<li class="b_item">' + course_name.course_name + '</li>');
                      count++;
                  }
              }
          });
          $.each(assignments_list, function(index, assignments){
              if (assignments.q_text.toLowerCase().includes(searchTerm.toLowerCase())){
                  if (count < 5) { // 这里显示10个内容
                      $('#b_results ul').append('<li class="b_item">' + assignments.q_text + '</li>');
                      count++;
                  }
              }
          });
          $('#b_results').append('</ul>');
      }
      $(document).on('click', '.b_item', function(){
          var selectedQuestion = $(this).text();
          $('#a').val(selectedQuestion); 
          $('#b_results').empty(); 
      });
      function submitSearch() {
          document.getElementById("search_form").submit();
      }
  </script>
  </body>
</html>
